<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="BSWGen500.launchConfiguration">
<stringAttribute key="BundleName" value="RTA-BSW 5.0.0"/>
<booleanAttribute key="DeleteOutput" value="false"/>
<booleanAttribute key="GenARXML" value="true"/>
<booleanAttribute key="GenIntegration" value="false"/>
<booleanAttribute key="GenStatic" value="true"/>
<booleanAttribute key="GenerateCH" value="true"/>
<mapAttribute key="Module_Bfx">
<mapEntry key="isConfigured" value="true"/>
<mapEntry key="isSelected" value="true"/>
</mapAttribute>
<mapAttribute key="Module_BswM">
<mapEntry key="isConfigured" value="true"/>
<mapEntry key="isSelected" value="true"/>
</mapAttribute>
<mapAttribute key="Module_BswM_PB_Variant_Only">
<mapEntry key="isConfigured" value="false"/>
<mapEntry key="isSelected" value="false"/>
</mapAttribute>
<mapAttribute key="Module_BswM_PreCompile_and_PB_Variant">
<mapEntry key="isConfigured" value="false"/>
<mapEntry key="isSelected" value="true"/>
</mapAttribute>
<mapAttribute key="Module_CanIf">
<mapEntry key="isConfigured" value="true"/>
<mapEntry key="isSelected" value="true"/>
</mapAttribute>
<mapAttribute key="Module_CanNm">
<mapEntry key="isConfigured" value="true"/>
<mapEntry key="isSelected" value="true"/>
</mapAttribute>
<mapAttribute key="Module_CanNm_PB_Variant_Only">
<mapEntry key="isConfigured" value="false"/>
<mapEntry key="isSelected" value="false"/>
</mapAttribute>
<mapAttribute key="Module_CanNm_PreCompile_and_PB_Variant">
<mapEntry key="isConfigured" value="false"/>
<mapEntry key="isSelected" value="true"/>
</mapAttribute>
<mapAttribute key="Module_CanSM">
<mapEntry key="isConfigured" value="true"/>
<mapEntry key="isSelected" value="true"/>
</mapAttribute>
<mapAttribute key="Module_CanTp">
<mapEntry key="isConfigured" value="true"/>
<mapEntry key="isSelected" value="true"/>
</mapAttribute>
<mapAttribute key="Module_CanTp_PB_Loadable">
<mapEntry key="isConfigured" value="false"/>
<mapEntry key="isSelected" value="false"/>
</mapAttribute>
<mapAttribute key="Module_CanTp_PB_Selectable">
<mapEntry key="isConfigured" value="false"/>
<mapEntry key="isSelected" value="false"/>
</mapAttribute>
<mapAttribute key="Module_CanTp_PreCompile">
<mapEntry key="isConfigured" value="false"/>
<mapEntry key="isSelected" value="true"/>
</mapAttribute>
<mapAttribute key="Module_CanTrcv">
<mapEntry key="isConfigured" value="false"/>
<mapEntry key="isSelected" value="false"/>
</mapAttribute>
<mapAttribute key="Module_Com">
<mapEntry key="isConfigured" value="true"/>
<mapEntry key="isSelected" value="true"/>
</mapAttribute>
<mapAttribute key="Module_ComM">
<mapEntry key="isConfigured" value="true"/>
<mapEntry key="isSelected" value="true"/>
</mapAttribute>
<mapAttribute key="Module_ComStack">
<mapEntry key="isConfigured" value="true"/>
<mapEntry key="isSelected" value="true"/>
</mapAttribute>
<mapAttribute key="Module_ComXf">
<mapEntry key="isConfigured" value="false"/>
<mapEntry key="isSelected" value="false"/>
</mapAttribute>
<mapAttribute key="Module_Compiler">
<mapEntry key="isConfigured" value="false"/>
<mapEntry key="isSelected" value="false"/>
</mapAttribute>
<mapAttribute key="Module_Crc">
<mapEntry key="isConfigured" value="true"/>
<mapEntry key="isSelected" value="true"/>
</mapAttribute>
<mapAttribute key="Module_CryIf">
<mapEntry key="isConfigured" value="false"/>
<mapEntry key="isSelected" value="false"/>
</mapAttribute>
<mapAttribute key="Module_Crypto">
<mapEntry key="isConfigured" value="false"/>
<mapEntry key="isSelected" value="false"/>
</mapAttribute>
<mapAttribute key="Module_Csm">
<mapEntry key="isConfigured" value="false"/>
<mapEntry key="isSelected" value="false"/>
</mapAttribute>
<mapAttribute key="Module_Dcm">
<mapEntry key="isConfigured" value="true"/>
<mapEntry key="isSelected" value="true"/>
</mapAttribute>
<mapAttribute key="Module_Dem">
<mapEntry key="isConfigured" value="true"/>
<mapEntry key="isSelected" value="true"/>
</mapAttribute>
<mapAttribute key="Module_Det">
<mapEntry key="isConfigured" value="true"/>
<mapEntry key="isSelected" value="true"/>
</mapAttribute>
<mapAttribute key="Module_Dlt">
<mapEntry key="isConfigured" value="false"/>
<mapEntry key="isSelected" value="false"/>
</mapAttribute>
<mapAttribute key="Module_DoIP">
<mapEntry key="isConfigured" value="false"/>
<mapEntry key="isSelected" value="false"/>
</mapAttribute>
<mapAttribute key="Module_E2E">
<mapEntry key="isConfigured" value="false"/>
<mapEntry key="isSelected" value="false"/>
</mapAttribute>
<mapAttribute key="Module_E2EXf">
<mapEntry key="isConfigured" value="false"/>
<mapEntry key="isSelected" value="false"/>
</mapAttribute>
<mapAttribute key="Module_Ea">
<mapEntry key="isConfigured" value="false"/>
<mapEntry key="isSelected" value="false"/>
</mapAttribute>
<mapAttribute key="Module_EcuM">
<mapEntry key="isConfigured" value="true"/>
<mapEntry key="isSelected" value="true"/>
</mapAttribute>
<mapAttribute key="Module_EthIf">
<mapEntry key="isConfigured" value="false"/>
<mapEntry key="isSelected" value="false"/>
</mapAttribute>
<mapAttribute key="Module_EthSM">
<mapEntry key="isConfigured" value="false"/>
<mapEntry key="isSelected" value="false"/>
</mapAttribute>
<mapAttribute key="Module_EthSwt_Broadcom_BCM8953x">
<mapEntry key="isConfigured" value="false"/>
<mapEntry key="isSelected" value="false"/>
</mapAttribute>
<mapAttribute key="Module_EthTrcv">
<mapEntry key="isConfigured" value="false"/>
<mapEntry key="isSelected" value="false"/>
</mapAttribute>
<mapAttribute key="Module_Fee">
<mapEntry key="isConfigured" value="true"/>
<mapEntry key="isSelected" value="true"/>
</mapAttribute>
<mapAttribute key="Module_FiM">
<mapEntry key="isConfigured" value="false"/>
<mapEntry key="isSelected" value="false"/>
</mapAttribute>
<mapAttribute key="Module_FrIf">
<mapEntry key="isConfigured" value="false"/>
<mapEntry key="isSelected" value="false"/>
</mapAttribute>
<mapAttribute key="Module_FrNm">
<mapEntry key="isConfigured" value="false"/>
<mapEntry key="isSelected" value="false"/>
</mapAttribute>
<mapAttribute key="Module_FrNm_PB_Variant_Only">
<mapEntry key="isConfigured" value="false"/>
<mapEntry key="isSelected" value="false"/>
</mapAttribute>
<mapAttribute key="Module_FrNm_PreCompile_and_PB_Variant">
<mapEntry key="isConfigured" value="false"/>
<mapEntry key="isSelected" value="false"/>
</mapAttribute>
<mapAttribute key="Module_FrSM">
<mapEntry key="isConfigured" value="false"/>
<mapEntry key="isSelected" value="false"/>
</mapAttribute>
<mapAttribute key="Module_FrTp">
<mapEntry key="isConfigured" value="false"/>
<mapEntry key="isSelected" value="false"/>
</mapAttribute>
<mapAttribute key="Module_FrTp_PB_Loadable">
<mapEntry key="isConfigured" value="false"/>
<mapEntry key="isSelected" value="false"/>
</mapAttribute>
<mapAttribute key="Module_FrTp_PB_Selectable">
<mapEntry key="isConfigured" value="false"/>
<mapEntry key="isSelected" value="false"/>
</mapAttribute>
<mapAttribute key="Module_FrTp_PreCompile">
<mapEntry key="isConfigured" value="false"/>
<mapEntry key="isSelected" value="false"/>
</mapAttribute>
<mapAttribute key="Module_FrTrcv">
<mapEntry key="isConfigured" value="false"/>
<mapEntry key="isSelected" value="false"/>
</mapAttribute>
<mapAttribute key="Module_IpduM">
<mapEntry key="isConfigured" value="false"/>
<mapEntry key="isSelected" value="false"/>
</mapAttribute>
<mapAttribute key="Module_J1939Tp">
<mapEntry key="isConfigured" value="false"/>
<mapEntry key="isSelected" value="false"/>
</mapAttribute>
<mapAttribute key="Module_LinIf">
<mapEntry key="isConfigured" value="false"/>
<mapEntry key="isSelected" value="false"/>
</mapAttribute>
<mapAttribute key="Module_LinSM">
<mapEntry key="isConfigured" value="false"/>
<mapEntry key="isSelected" value="false"/>
</mapAttribute>
<mapAttribute key="Module_LinTrcv">
<mapEntry key="isConfigured" value="false"/>
<mapEntry key="isSelected" value="false"/>
</mapAttribute>
<mapAttribute key="Module_MemIf">
<mapEntry key="isConfigured" value="true"/>
<mapEntry key="isSelected" value="true"/>
</mapAttribute>
<mapAttribute key="Module_Mfl">
<mapEntry key="isConfigured" value="false"/>
<mapEntry key="isSelected" value="false"/>
</mapAttribute>
<mapAttribute key="Module_Mfx">
<mapEntry key="isConfigured" value="false"/>
<mapEntry key="isSelected" value="false"/>
</mapAttribute>
<mapAttribute key="Module_Nm">
<mapEntry key="isConfigured" value="true"/>
<mapEntry key="isSelected" value="true"/>
</mapAttribute>
<mapAttribute key="Module_NvM">
<mapEntry key="isConfigured" value="true"/>
<mapEntry key="isSelected" value="true"/>
</mapAttribute>
<mapAttribute key="Module_PduR">
<mapEntry key="isConfigured" value="true"/>
<mapEntry key="isSelected" value="true"/>
</mapAttribute>
<mapAttribute key="Module_Platform">
<mapEntry key="isConfigured" value="true"/>
<mapEntry key="isSelected" value="true"/>
</mapAttribute>
<mapAttribute key="Module_Rba_ArxmlGen">
<mapEntry key="isConfigured" value="true"/>
<mapEntry key="isSelected" value="true"/>
</mapAttribute>
<mapAttribute key="Module_Rba_ComXfAdp">
<mapEntry key="isConfigured" value="false"/>
<mapEntry key="isSelected" value="false"/>
</mapAttribute>
<mapAttribute key="Module_Rba_CryptoBCL">
<mapEntry key="isConfigured" value="false"/>
<mapEntry key="isSelected" value="false"/>
</mapAttribute>
<mapAttribute key="Module_Rba_CryptoHSM">
<mapEntry key="isConfigured" value="false"/>
<mapEntry key="isSelected" value="false"/>
</mapAttribute>
<mapAttribute key="Module_Rba_DemObdBasic">
<mapEntry key="isConfigured" value="false"/>
<mapEntry key="isSelected" value="false"/>
</mapAttribute>
<mapAttribute key="Module_Rba_DiagLib">
<mapEntry key="isConfigured" value="true"/>
<mapEntry key="isSelected" value="true"/>
</mapAttribute>
<mapAttribute key="Module_Rba_EaFs1">
<mapEntry key="isConfigured" value="false"/>
<mapEntry key="isSelected" value="false"/>
</mapAttribute>
<mapAttribute key="Module_Rba_EthArp">
<mapEntry key="isConfigured" value="false"/>
<mapEntry key="isSelected" value="false"/>
</mapAttribute>
<mapAttribute key="Module_Rba_EthAutoIp">
<mapEntry key="isConfigured" value="false"/>
<mapEntry key="isSelected" value="false"/>
</mapAttribute>
<mapAttribute key="Module_Rba_EthDHCP">
<mapEntry key="isConfigured" value="false"/>
<mapEntry key="isSelected" value="false"/>
</mapAttribute>
<mapAttribute key="Module_Rba_EthICMP">
<mapEntry key="isConfigured" value="false"/>
<mapEntry key="isSelected" value="false"/>
</mapAttribute>
<mapAttribute key="Module_Rba_EthIPv4">
<mapEntry key="isConfigured" value="false"/>
<mapEntry key="isSelected" value="false"/>
</mapAttribute>
<mapAttribute key="Module_Rba_EthTcp">
<mapEntry key="isConfigured" value="false"/>
<mapEntry key="isSelected" value="false"/>
</mapAttribute>
<mapAttribute key="Module_Rba_EthUdp">
<mapEntry key="isConfigured" value="false"/>
<mapEntry key="isSelected" value="false"/>
</mapAttribute>
<mapAttribute key="Module_Rba_FeeFs1">
<mapEntry key="isConfigured" value="false"/>
<mapEntry key="isSelected" value="true"/>
</mapAttribute>
<mapAttribute key="Module_Rba_Trcv">
<mapEntry key="isConfigured" value="false"/>
<mapEntry key="isSelected" value="false"/>
</mapAttribute>
<mapAttribute key="Module_Rba_Xfrm">
<mapEntry key="isConfigured" value="false"/>
<mapEntry key="isSelected" value="false"/>
</mapAttribute>
<mapAttribute key="Module_Sd">
<mapEntry key="isConfigured" value="false"/>
<mapEntry key="isSelected" value="false"/>
</mapAttribute>
<mapAttribute key="Module_SecOC">
<mapEntry key="isConfigured" value="false"/>
<mapEntry key="isSelected" value="false"/>
</mapAttribute>
<mapAttribute key="Module_SoAd">
<mapEntry key="isConfigured" value="false"/>
<mapEntry key="isSelected" value="false"/>
</mapAttribute>
<mapAttribute key="Module_Standard">
<mapEntry key="isConfigured" value="false"/>
<mapEntry key="isSelected" value="false"/>
</mapAttribute>
<mapAttribute key="Module_StbM">
<mapEntry key="isConfigured" value="false"/>
<mapEntry key="isSelected" value="false"/>
</mapAttribute>
<mapAttribute key="Module_TcpIp">
<mapEntry key="isConfigured" value="false"/>
<mapEntry key="isSelected" value="false"/>
</mapAttribute>
<mapAttribute key="Module_UdpNm">
<mapEntry key="isConfigured" value="false"/>
<mapEntry key="isSelected" value="false"/>
</mapAttribute>
<mapAttribute key="Module_WdgIf">
<mapEntry key="isConfigured" value="true"/>
<mapEntry key="isSelected" value="true"/>
</mapAttribute>
<mapAttribute key="Module_WdgM">
<mapEntry key="isConfigured" value="true"/>
<mapEntry key="isSelected" value="true"/>
</mapAttribute>
<mapAttribute key="Module_Xcp">
<mapEntry key="isConfigured" value="true"/>
<mapEntry key="isSelected" value="true"/>
</mapAttribute>
<stringAttribute key="OutputPath" value="C:\01_Job\01_Task\2019\Engineering.Entry_Platform_AUTOSAR\03_Draft_TC275\01_Draft\30_Imlementation\20_Software\trunk\ETAS_TC275_BSW50_V1.1\BSW\src\bsw\gen"/>
<stringAttribute key="ProjectName" value="ETAS_TC275_BSW50_V1.1"/>
<booleanAttribute key="SelectAll" value="false"/>
</launchConfiguration>
